.registration-form-paid-members {
  margin-top: 0.5rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: rgb(100 100 20 / 0.1);
  font-size: 1.2em;
}

.registration-form-unpaid-members {
  margin-top: 0.5rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: rgb(100 20 20 / 0.1);
  font-size: 1.2em;
}

.registration-form-intro {
  margin-top: 0.5rem;
  font-size: 1.1em;
}

.form-item-members-member1-first-name,
.form-item-members-member1-last-name,
.form-item-members-member2-first-name,
.form-item-members-member2-last-name,
.form-item-members-member3-first-name,
.form-item-members-member3-last-name,
.form-item-members-member4-first-name,
.form-item-members-member4-last-name,
.form-item-members-member5-first-name,
.form-item-members-member5-last-name,
.form-item-members-member6-first-name,
.form-item-members-member6-last-name,
.form-item-members-member7-first-name,
.form-item-members-member7-last-name,
.form-item-members-member8-first-name,
.form-item-members-member8-last-name,
.form-item-members-member9-first-name,
.form-item-members-member9-last-name,
.form-item-members-member10-first-name,
.form-item-members-member10-last-name {
  display: inline-block;
  width: 19em;
  margin-bottom: 0!important;
}

.edit-members-days div.form-type-checkbox {
  display: inline-block;
  margin: 0 1em;
}

.edit-members-badge-name-option div.form-type-radio {
  display: inline-block;
  margin: 0 1em;
}

#total-price {
  font-weight: 700;
}
